* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}
.container {
    width: 50%;
    height: auto;
    padding: 20px;
    border: 2px solid red;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name, .password {
    width: 100%;
    margin: 10px 0;
    text-align: left;
}

.container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
}
#btn {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#btn:hover {
    background-color: #218838;
}
